body {
    background-color: rgba(220,220,220,255);
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: rgba(55,55,55,155);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* titles */

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: rgba(55,55,55,255);

}
