

#education-title h3{
    text-align: right;
    border-bottom: 1px solid black;
    margin: 28px 20px 0px 0px;
    
}

p {
    -webkit-text-fill-color: rgb(85,85,85);
    justify-content: left;
    font-size: 18px;
    margin: 28px 20px 18px 20px;
}

h3 {
    -webkit-text-fill-color: rgb(45,45,45);
    padding-top: 16px;
    padding-bottom: 24px;
}

#education-title p{
    /* text-align: right;
    border-bottom: 1px solid black;
    margin: 28px 20px 18px 14px; */
    font-family: 'consolas';
}

#awards-fellowships h3{
    text-align: left;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid black;
}
#awards-fellowships p{
    font-family: 'consolas';
    justify-content: right;
}
#academic-positions h3{
    text-align: right;
}
#academic-positions p{
    text-align: right;
}
#prof-org h3{
    text-align: right;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid black;

}
#students-left h3{
    text-align: left;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid black;

}
#students-left a{
    -webkit-text-fill-color: black;
    text-align: center;
}
#students-right h3{
    text-align: right;
    margin: 28px 20px 14px 14px;
    border-bottom: 1px solid black;

}
#students-right a{
    -webkit-text-fill-color: black;
    text-align: center;
}

#students-right a:hover{
    -webkit-text-fill-color: rgb(43, 153, 226);
    text-align: center;
}
#intro{
    padding-right: 28px;
    padding-bottom: 28px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
body {
    /* display: flex; */
    /* overflow: hidden; */
        overflow-x: hidden;
}

    
#headerwrap {
    background-color: rgba(255,225,225);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    padding-bottom: 7px;
}


.header {
    /* position: fixed; */
}
.header h1{
    margin: 0% 2% 2% 2%;
    text-align: left; 
    font-family: 'consolas';

}
.header h2{
    margin: 0 28px 2% 2%;
    text-align: left;
    font-family: 'consolas';
}
.row{
    margin: 18px, 18px, 20px, 20px;
}

.col-sm-3 {
    margin: 28px 0px 20px 28px;
}
.col-sm-9{
    background-color: green;
    padding: 18px, 18px, 20px, 20px;
} 